body{
	font-family: 'Open Sans', sans-serif;
}
div.container{
	display: flex;
	height: 650px;
}
div.img_login{
	background-image: url(sabri-tuzcu-365440.jpg);
	background-size: 150% 100%;
	width: 65%;
	background-repeat: no-repeat;
}
div.loginbox{
	margin: 5% 0% 0% 5%;
	width: 19%;
}

p{
	margin-bottom: 0%;
	color: #606060;
	font-size: 14px;
}

span.button{
	background-color: #39cc6c;
	padding: 1% 34.5% 1% 34.5%;
	color: #ffffff;
	border-radius: 5px;
}
p#ja_poss{
	margin-bottom: 2%;
}
span.button_com_log{
	background-color: #39cc6c;
	padding: 1% 32.8% 1% 32.8%;
	color: #ffffff;
	border-radius: 5px;
}
a{
	text-decoration: none;
	color: #ffffff;
}